.App {
  text-align: center;
  font-size: 1rem;
}

p a {
  text-decoration: underline;
  color: #fff;
}

#hero-section {
  height: 100vh;
  /*background-color: grey;
  clip-path: polygon(0 0,100% 0,100% 80%,0 100%);*/
}

#hero-section span {
  color:#6495ED;
}

#hero-btn {
  color: #6495ED;
  border: 2px solid #6495ED;
  font-weight: bold;
  border-radius: 0;
  font-size: 1.5rem;
}

#hero-btn:hover {
  color: white;
  background-color: #6495ED;
}


#contact-section {
  background-color: #6495ED;
  color: white;
}

#contact-btn, #resume-btn {
  color: white;
  border: 2px solid white;
  font-weight: bold;
  border-radius: 0;
}

#contact-btn:hover, #resume-btn:hover {
  color: #6495ED;
  background-color: white;
}

#about-section {
  background-color: #6495ED;
  color: #fff;
}

#profile-img, .project-img
{
    position:relative;
    -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 5px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#profile-img:before, #profile-img:after, #pro
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#profile-img:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.project-img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.site-btn button {
  color: #6495ED;
  border: 2px solid #6495ED;
  font-weight: bold;
  border-radius: 0;
}

.site-btn button:hover {
  color: white;
  background-color: #6495ED;
  border: 2px solid white;
}

.git-btn button {
  color: #6495ED;
  font-weight: bold;
  border-radius: 0;
  background-color: white;
  border: none;
}

.git-btn button:hover {
  background-color: white;
  color:#6495ED;
  transform: translateX(3px);
  transition: all .3s linear;
}

.project-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.site-footer {
  background-color: #343a40;
}

.copyright {
  color: #6c757d;
}

.footer-icon:hover, .github-link:hover {
  transform: translateY(-3px);
  transition: all .3s linear;
}

@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)   {
    #hero-section h1 {
      font-size: 3.5rem;
    }
  }

  @media screen 
  and (min-device-width: 1200px)  {
    #hero-section h1 {
      font-size: 4.5rem;
    }

    #about-section {
      background-color: #6495ED;
      color: #fff;
      clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
      padding-bottom: 10%;
    }

    #contact-section {
    clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
    padding: 5rem 0 1rem;  
    }

  }
 