.App {
  text-align: center;
}

.site-footer {
  background-color: #343a40;
}

.copyright {
  color: #6c757d;
}

.footer-icon:hover {
  transform: translateY(-3px);
  transition: all .3s linear;
}

#contact-section {
  background-color: #6495ED;
  color: white;
}

#contact-btn{
  color: white;
  border: 2px solid white;
  font-weight: bold;
  border-radius: 0;
}

#contact-btn:hover {
  color: #6495ED;
  background-color: white;
}
